/* Contenedor principal */
.table-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Título */
.table-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

/* Tabla */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

/* Encabezado de la tabla */
.table thead {
  background-color: #f4f4f4;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
}

.table th,
.table td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

/* Filas de la tabla */
.table tr {
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.table tr:hover {
  background-color: #f9f9f9;
}

/* Texto de estados */
.status-badge {
  padding: 5px 10px;
  border-radius: 15px;
  color: #fff;
  font-weight: bold;
  flex-shrink: 0;
  text-align: center;
  min-width: 80px;
  text-align: center;
  white-space: nowrap;
}

.status-badge.active {
  background-color: #4caf50;
}

.status-badge.inactive {
  background-color: #f44336;
}

/* Contenedor del switch y el texto (Estado/Rol) */
.switch-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 200px;
}


/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(20px);
}
